<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blog.hgl1002.openwnn"
    android:versionCode="19030901"
    android:versionName="190309-01">

    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <service
            android:id="@+id/openwnn_korean"
            android:name=".OpenWnnKOKR"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_ko" />
        </service>

        <activity
            android:name=".OpenWnnControlPanelKOKR"
            android:label="@string/preference_ime_setting_app"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KOKR.ListLangKeyActionDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateVisible"/>
    </application>

</manifest>